<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mac.dubbo.erp.baby.mapper.customer.CustomerMapper" >

    <resultMap id="BaseResultMap" type="com.mac.dubbo.erp.baby.model.customer.Customer" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="TINYINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="birth" property="birth" jdbcType="TIMESTAMP" />
        <result column="integral" property="integral" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
      a.id, a.age, a.sex, a.name, a.birth, a.integral
    </sql>

    <!-- 修改客户积分 -->
    <update id="updateCustomerIntegralById" parameterType="com.mac.dubbo.erp.baby.model.customer.Customer">
        update baby_customer set integral = integral + #{integral} where id = #{id}
    </update>
</mapper>